{% extends 'main/base.html' %}

{% block title %}Ajout d'un Pays{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="row">
                <div class="col col-sm-4">
                    <br>
                    <h4>Ajouter un pays</h4>
                </div>
                <div class="col offset-sm-5">
                    <div>
                    <br>
                        <a href="{% url 'core:load_pays' %}" class="btn btn-primary">Importer un fichier</a>
                    </div>
                </div>
            </div>
            <hr>
            <form method="post" action="{% url 'core:add_pays' %}">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="code">Code du pays :</label>
                    <input type="text" name="code_pays" class="form-control" id="code" aria-describedby="emailHelp" placeholder="Enter le code du pays">
                  </div>
                  <div class="form-group">
                    <label for="nom">Nom du pays :</label>
                    <input type="text" name="nom_pays" class="form-control" id="nom" placeholder="Entrer le nom du pays">
                  </div>
                  <div class="form-group">
                    <label for="specification">Specification :</label>
                      <select class="form-control" name="specification_pays" id="specification">
                          <option value="Etranger">Etrangers</option>
                          <option value="National">Nationaux</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-outline-primary float-right">Valider</button>
            </form>
            <br><br>
            <hr>
        </div>
    </div>
{% endblock %}