{% extends 'main/base.html' %}

{% block title %}Suppression d'un Pays{% endblock %}


{% block content %}
    <div class="card text-center">
      <div class="card-header">
        Informations
      </div>
      <div class="card-body">
        <h5 class="card-title">Suppression d'un pays</h5>
        <p class="card-text">Voulez-vous vraiment ce pays ?</p>
        <a href="{% url 'core:listing_pays' %}" class="btn btn-outline-secondary">Annuler</a>
        <a href="{% url 'core:delete_pays' pk %}" class="btn btn-outline-danger">Valider</a>
      </div>
    </div>
{% endblock %}